.App{
  position: absolute;
  margin: 0; padding: 0;
  width: 100%; height: 100vh;
  background-color: antiquewhite;
}

.StartWrap{
  margin: 0; padding: 0;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Start{
  position: absolute;
  margin: 0; padding: 0;
  font-size: 2rem;
}