@font-face { font-family: 'Goyang'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff')
  format('woff'); font-weight: normal; font-style: normal; }

.App{
  position: absolute;
  margin: 0; padding: 0;
  width: 100%; height: 100%;
  max-width: 520px;
  overflow: hidden;
}
.App *{
  font-family: 'Goyang';
}

.StartWrap{
  margin: 0; padding: 0;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Start{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  font-size: 2em;
}

.StartText span {
  position: relative;
  top: 5px;
  display: inline-block;
  animation: bounce .3s ease infinite alternate;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 1.5em;
  color: #FFF;
  text-shadow: 0 10px 10px rgba(0, 0, 0, .4);
}
.StartText span:nth-child(2) { animation-delay: .1s; }
.StartText span:nth-child(3) { animation-delay: .2s; }
.StartText span:nth-child(4) { animation-delay: .3s; }
.StartText span:nth-child(5) { animation-delay: .4s; }
.StartText span:nth-child(6) { animation-delay: .5s; }
.StartText span:nth-child(7) { animation-delay: .6s; }
.StartText span:nth-child(8) { animation-delay: .7s; }

@keyframes bounce {
  100% {top: -5px;}
}